{% extends "__base__.html" %}
{% load static %}
{% block title %}Reservation{% endblock %}
{% block content %}
    <table>
    <tr>
        <td><strong>Data złożenia rezerwacji</strong></td>
        <td><strong>Termin rezerwacji</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>telefon</strong></td>
        <td><strong>Rodzaj sesji</strong></td>
        <td><strong>Status</strong></td>
        <td><strong>Szczegóły</strong></td>
    </tr>
    {% for r in all_reservation %}
    <tr>
        <td>{{ r.report_date }}</td>
        <td>{{ r.date }}</td>
        <td>{{ r.user.email }}</td>
        <td>{{ r.phone_number }}</td>
        <td>{{ r.package.sessions.name }}</td>
        <td>
            {% if r.status %}
            zaakceptowano
            {% else %}
                <form action="/accept/{{ r.pk }}">
                    <input type="submit" value="zaakceptuj">
                </form>
            {% endif %}
        </td>
        <td>
             <form action="/reservation-details/{{ r.pk }}">
                    <input type="submit" value="szczegóły">
                </form>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}